* {
    background-color: royalblue;
}
.title  {
    color: honeydew;
    text-align: center;
    background-color: royalblue;
    border-bottom: whitesmoke 1px solid;
}

.link {
    text-decoration: none;
}

.App {
    margin-top: 50px;
}

#review {
    color: honeydew;
    font-size: 2rem;
    margin-top: 0px;
    box-sizing: border-box;
    border: 1px honeydew solid;
}

.space {
    height: 20px;
}